.slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  .slider__wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    .slider__slide {
      flex-shrink: 0;
      width: 100%;
    }
  }
  .slider__controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .slider__prev,
    .slider__next {
      margin: 0 10px;
      padding: 10px 20px;
    }
  }
}
